<div *ngIf="user">

  <h2>{{user.name}}</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name" (change)="markDirty($event)" />
    </label>
    <label>email:
      <input [(ngModel)]="user.email" placeholder="email" (change)="markDirty($event)" />
    </label>
  </div>
  <div>
    <label>Choose New Avatar<input type="file" (change)="onSelectFile($event)" #fileInput /></label>
  </div>
  <div *ngIf="user.imageChanged"><img src="{{user.base64ImageUrl}}"></div>
  <img *ngIf="user.imageType && !user.imageChanged" src="{{user.avatarUrl}}" />
</div>